 {% extends "base.html" %}
 {% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Recipe</h3>

    <div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
      <div class="row">
        <div class="input-field col s12">
          <i class="far fa-image"></i>
          <input id="photo" name="photo" minlength="5" maxlength="200"
          type="text" class="validate" required onerror="myFunction() >
          <label for="photo">Photo URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class=></i>
          <textarea id="title" name="title" minlength="5" maxlength="200"
          class="materialize-textarea" validate required></textarea>
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class=></i>
          <textarea id="prep_time" name="prep_time" minlength="5" maxlength="20"
          class="materialize-textarea" validate required></textarea>
          <label for="prep_time">Prep Time</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class=></i>
          <textarea id="cook_time" name="cook_time" minlength="5" maxlength="20"
          class="materialize-textarea" validate required></textarea>
          <label for="cook_time">Cook Time</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class=></i>
          <textarea id="meal_time" name="meal_time" minlength="5" maxlength="20"
          class="materialize-textarea" validate required></textarea>
          <label for="meal_time">Meal Time:</label>
          <select name="meal_time" id="meal_time">
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class=></i>
          <textarea id="diet_type" name="diet_type" minlength="5" maxlength="20"
          class="materialize-textarea" validate required></textarea>
          <label for="diet_type">Diet Type:</label>
          <select name="diet_type" id="diet_type">
          <option value="Keto">Keto</option>
          <option value="Paleo">Paleo</option>
          <option value="Other">Other</option>
          </select>
        </div>
      </div>
  <div class="row">
        <div class="input-field col s12">
          <i class=></i>
          <textarea id="ingredients" name="ingredients" minlength="5" maxlength="1000"
          class="materialize-textarea" validate required></textarea>
          <label for="ingredients">Ingredients</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class=></i>
          <textarea id="preparation" name="preparation" minlength="5" maxlength="1000"
          class="materialize-textarea" validate required></textarea>
          <label for="preparation">Preparation</label>
        </div>
      </div>
  <div class="row">
      <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right"></i>
  </button>
  </div>
    </form>
    </div>
 {% endblock %}