 {% extends "base.html" %}
 {% block content %}

<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src= {{ recipe.photo }}>
          <span class="card-title"></span>
        </div>
        <div class="card-content">

          <strong>Title:</strong>
          {{ recipe.title }}</br>
          <strong>Prep Time:</strong>
          {{ recipe.prep_time }}<br>
          <strong>Cook Time:</strong>
          {{ recipe.cook_time }}<br>
          <strong>Meal Time:</strong>
          {{ recipe.meal_time }}<br>
          <strong>Diet Type:</strong>
          {{ recipe.diet_type }}<br>
          <strong>Ingredients:</strong>
          {{ recipe.ingredients }}<br>
          <strong>Preparation:</strong>
          {{ recipe.preparation }}<br>
        </div>
        <div>
            <div class="col s3">
                <i class="fas fa-caret down"></i>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red accent-4">Delete</a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small yellow accent-4">Edit</a>
            </div>
      </div>
    </div>
  </div>
  {% endfor %}

{% endblock%}
