 {% extends "base.html" %}
 {% block content %}



<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src= {{ recipe.photo }}>
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">

          <strong>prep time:</strong>
          {{ recipe.prep_time }}<br>
          <strong>cook time:</strong>
          {{ recipe.cook_time }}<br>
          <strong>meal time:</strong>
          {{ recipe.meal_time }}<br>
          <strong>diet type:</strong>
          {{ recipe.diet_type }}<br>
          <strong>Description:</strong>
          {{ recipe.description }}<br>
          <strong>Ingredients:</strong>
          {{ recipe.ingredients }}<br>
          <strong>Preparation:</strong>
          {{ recipe.preparation }}<br>
        </div>
        <div>
            <div class="col s3">
                <i class="fas fa-caret down"></i>
                <a href="" class="btn-small yellow accent-4">Edit</a>
            </div>
      </div>
    </div>
  </div>
  {% endfor %}

{% endblock%}
