{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Sign up for free recipes sent to your inbox</h3>

<!-- Name field -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
      <div class="card-panel">
        <div class="row">
            <div class="input-field col s12">
            <i class="fas fa-signature"></i>
            <input id="name" name="name" type="text" class="validate">
            <label for="name">Name</label>
        </div>
        <!-- Email address -->
        <div class="row">
            <div class="input-field col s6">
                <i class="far fa-envelope"></i>
                <input id="email" name="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <!-- Register user-->
        <div class="row">
            <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                Register
            </button>
        </div>
      </div>
    </form>
</div>

{% endblock %}